{
  "Strelka_maf_workflow.m1m2_maf.tumor_id": "test_T",
  "Strelka_maf_workflow.m1m2_maf.Strelka_SNV_vcf_file": "/opt/test/Strelka_SNV.vcf.gz",
  "Strelka_maf_workflow.m1m2_maf.Strelka_INDEL_vcf_file": "/opt/test/Strelka_INDEL.vcf.gz",
  "Strelka_maf_workflow.m1m2_maf.output_disk_gb": "20",
  "Strelka_maf_workflow.m1m2_maf.normal_id": "test_N"
}
