{
  "M1M2strelka_maf_workflow.m1m2_maf.M1_vcf_file": "/opt/test/M1.vcf.gz",
  "M1M2strelka_maf_workflow.m1m2_maf.tumor_id": "test_T",
  "M1M2strelka_maf_workflow.m1m2_maf.M2_vcf_file": "/opt/test/M2.vcf.gz",
  "M1M2strelka_maf_workflow.m1m2_maf.Strelka_SNV_vcf_file": "/opt/test/Strelka_SNV.vcf.gz",
  "M1M2strelka_maf_workflow.m1m2_maf.Strelka_INDEL_vcf_file": "/opt/test/Strelka_INDEL.vcf.gz",
  "M1M2strelka_maf_workflow.m1m2_maf.output_disk_gb": "20",
  "M1M2strelka_maf_workflow.m1m2_maf.normal_id": "test_N"
}
